*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    
}
.loader{
    position: relative;
    height: 400px;
    width: 400px;
    background: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;

}
.circle{
    position: absolute;
    height: 300px;
    width: 300px;
    border: 2px solid #191919;
    border-radius: 50%;
    animation: animate 3s linear infinite;
}
.circle2{
    height: 200px;
    width: 200px;
    animation: animate 5s linear infinite;

}
.circle3{
    height: 100px;
    width: 100px;
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.circle::before{
    content: '';
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: 20px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);

}